@import url('file:///home/uiriamu/.cache/wal/colors.css');

:root {
    --color-bg: var(--background);
    --color-fg: var(--color12);
    --color-link: var(--color12);
    --color-link-visited: var(--color12);
    --color-link-hover: var(--color10);
    --clock-font: 'CartographCF Nerd Font';
    --text-font: 'CartographCF Nerd Font';
}

html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-family: var(--clock-font);
    font-weight: 900;
    text-align: center;
    font-size: 72px;
    color: var(--color-fg);
}

@media (max-width: 768px) {
    .time {
        font-size: 32px;
    }
}

.title {
    font-family: var(--text-font);
    text-align: center;
    margin: 0.5rem 0 3rem;
    color: var(--color6);
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.category {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.bookmark {
    display: flex;
    justify-content: space-evenly;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    align-items: left;
}

li {
    display: flex;
    list-style-type: none;
    font-family: var(--text-font);
    font-size: 22px;
    padding: 2px;
    list-style-type: none;
}

a {
    transition: 0.25s color;
}

a:link {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}
