@import 'colors-waybar.css';

* {
    font-family: CartographCF Nerd Font, Iosevka Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.1;
}

#window {
    color: @foreground;
}

#clock,
#cpu,
#memory,
#custom-media,
#tray,
#mode,
#workspaces,
#battery,
#idle_inhibitor,
#custom-power-menu,
#custom-wallpaper,
#custom-launcher,
#custom-spotify,
#custom-weather,
#custom-theme,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
    color: @foreground;
    padding: 2px 10px;
    background-color: @background;
    border-radius: 8px;
    margin: 6px 3px 0;
}

#custom-launcher {
    color: @color9;
    padding: 0 20px 0 20px;
    margin-left: 8px;
}

#cpu {
    color: @color10;
}

#memory {
    color: @color11;
}

#workspaces {
}

#workspaces button {
    color: @color11;
    box-shadow: inset 0 -3px transparent;
    margin-right: 0em;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    color: @color9;
    margin-right: 0em;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-spotify {
    color: @color10;
}

#custom-wallpaper {
    padding: 0 18px 0 12px;
    color: @color14;
}

#custom-theme {
    padding: 0 18px 0 12px;
    color: @color13;
}

#bluetooth,
#backlight,
#pulseaudio,
#network {
    background-color: @background;
    padding: 0 12px;
    margin: 6px 0 0;
}

#bluetooth {
    border-radius: 8px 0px 0px 8px;
    color: @color12;
    margin-left: 3px;
    border-right: none;
}

#network {
    color: @color13;
    padding-right: 14px;
    border-right: none;
    border-left: none;
}

#network.disconnected {
    color: @color11;
}

#pulseaudio {
    color: @color13;
    border-left: none;
    border-right: none;
}

#pulseaudio.muted {
    color: @color11;
}

#backlight {
    margin-right: 3px;
    padding-right: 8px;
    color: @color13;
    border-radius: 0 8px 8px 0;
    border-left: none;
}

#battery {
    color: @color9;
    border-radius: 8px;
    padding: 0 12px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @color15;
}

#clock {
    color: @color12;
    font-weight: bold;
}

#custom-power-menu {
    color: @color11;
    margin-right: 8px;
    padding: 0 12px 0 10px;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

tooltip {
    border-radius: 15px;
    padding: 15px;
    background-color: @background;
    color: @foreground;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 5px;
    color: @foreground;
}

label:focus {
    background-color: @background;
}
