/* change these variables to get different colors */
@import url('file:///home/uiriamu/.cache/wal/colors.css');

* {
    font-family: 'CartographCF Nerd Font';
}

#tabbrowser-tabs {
    --tab-active-color: var(--color2);
    --tab-inactive-color: var(--color0);
    --tab-fallback-color-active: var(--color15);
    --tab-fallback-color-inactive: var(--color15);
    --toolbar-bgcolor: var(--color0);
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-background {
    background: var(--tab-active-color) !important;
    color: var(--identity-icon-color, --tab-fallback-color-active) !important;
}

/* Tab: hide favicons */
.tab-icon-stack:not([pinned]) {
    display: none !important;
}

#TabsToolbar {
    background-color: var(--color0) !important;
}


#nav-bar {
    background-color: var(--color0) !important;
}

#urlbar-background {
    background-color: var(--color0) !important;
}